#map {
  height: 50rem;
  bottom: 19rem;
}

.contact-section .row .col{
  @include headline;

}

.contact-info{
  background: $mistyrose;
  position: relative;
  top: 13rem;
  z-index: 9;
  height: 64rem;
  left: 3rem;
  padding: 8rem;

  h2 {
    @include welcome-h2;
    font-size: 2rem;
    color: $darkgrey;
    margin-bottom: 3rem;
  }

  p {
    font-size: 3.6rem;
    line-height: 1;
    letter-spacing: 3px;
  }

  .social {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    margin-bottom: 8rem;
  }

  .button {
    border: 3px solid $darkgrey;
    padding: 11.375rem 9.25rem;
    width: 100%;
    text-align: center;
    background-color: white;
    padding-top: 2.875rem;
    padding-bottom: 2.875rem;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    color: $black;
  }
}



