nav {
  opacity: 0;
  background-color: $mistyrose;
  height: 11.3rem;

  .navbar-collapse .nav {
    font-family: $font-text-medium;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    .nav-link {
      color: $black;
    }
  }
}
.logo{
  font-family: $font-learning-curve-bold;
  font-size: 9rem;
  text-shadow: $logo-shadow;
  text-transform: capitalize;
}

#date {
  border-bottom: 2px solid;
}

.shadow {
  box-shadow: 0 0 10px rgba(187,173,170,0.9);
}





@include media-breakpoint-down(xs) {
  .navbar-collapse {
    background: #fff;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    padding-top: 60px;

    ul li {
      font-size: 2.5rem;
    }
  }
  .navbar-collapse ul:nth-child(2){
    display: none;
  }
}


@include media-breakpoint-down(lg) {
  .col-img img {
    max-width: 60%;
  }
}

@include media-breakpoint-down(sm) {
  .col-img img {
    max-width: 80%;
  }
}