@mixin logo {
  font-family: $font-learning-curve-bold;
  font-size: 9rem;
  text-shadow: $logo-shadow;
  text-transform: capitalize;

  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop + 56px}) {
    font-size: 7rem !important;
  }
}

nav {
  opacity: 0;
  background-color: $mistyrose;
  height: 11.3rem;

  .navbar-collapse .nav {
    font-family: $font-text-medium;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    .nav-link {
      color: $black;
    }
  }

  .nav-item p,
  .nav-item a {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop + 56px}) {
      font-size: 1.3rem;
    }
  }
}
.logo{
  @include logo;
}

.logo-mobile {
  @include logo;
  display: none;

  @media (max-width: $breakpoint-logo){
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 5.5rem;
  }
}

#date {
  border-bottom: 2px solid;
}

.shadow {
  box-shadow: 0 0 10px rgba(187,173,170,0.9);
}


@media (max-width: $breakpoint-logo){
  .navbar-collapse {
    background: #fff;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    padding-top: 60px;

    ul li {
      font-size: 2.5rem;

      p#date {
        border-bottom: none;
      }
    }
  }
  .navbar-collapse ul:nth-child(2){
    display: none;
  }
}







