@mixin headline {
  color: $darkgrey;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  font-family: $font-text-medium;
  padding: 9.2rem 0 6.5rem 0;
  margin: 0; 
}

@mixin welcome-h2 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: $font-text-medium;
}

.welcome-wrapper,
._welcome-wrapper {
  text-align: center;
}

._welcome-wrapper .row .offset__right {
  position: relative;
  left: 7%;
  z-index: 1;
}

._welcome-wrapper .ps-img {
  height: 60rem;
  background-image: url("../img/ds_01.jpg");
  background-size: cover; 

  @media (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-large-screen - 1px}) {
    height: 37rem;
  }
}

.welcome-wrapper h1 {
  @include headline;

  @media (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-large-screen - 1px}){
    padding-bottom: 2.5rem;
  }
}

._welcome-wrapper h1 {
  @include headline;
  padding: 5.2rem 0 6.5rem 0;
}

.welcome-wrapper h2,
._welcome-wrapper h2 {
  @include welcome-h2;
}

